<h2>Vaše číslo rezervace:</h2>
<h1>{{ code }}</h1>
<p>Potvrďte rezervaci kliknutím zde:</p>
<a href="http://{{ app.request.host }}/reservation/{{ code }}/confirm/{{ confirmToken }}">{{ app.request.host }}/reservation/{{ code }}/confirm/{{ confirmToken }}</a></p>
<br>
<p>Detaily o vaší rezervaci získáte na adrese:<br>
<a href="http://{{ app.request.host }}/reservation/{{ code }}">{{ app.request.host }}/reservation/{{ code }}</a>
</p>
<p>
Po potvrzení této rezervace si prosím <b>vyzvedněte, před časem který jste si objednali, klíče</b> od hřiště na naší recepci.
</p>
<br>
<p>Děkujeme a přejeme příjemný zážitek ze hry.</p>
<br>
<p>Tým MORAVACAMP</p>

<i style="opacity: 0.5;"><a href="http://moravacamp.mohelnickesluzby.cz">Online rezervace hřiště MORAVACAMP</a> | <a href="www.moravacamp.cz">hlavní stránky MORAVACAMP</a></i>
<i style="opacity: 0.5;"><a href="http://mohelnickesluzby.cz">Tato služba byla vytvořena: MohelnickeSluzby.cz</a></i>