{% if reservations is empty %}
    <p>Žádná rezervace nevyhovuje výběru.</p>
{% else %}
    <table class="reslist">
        <thead>
            <th>kód rezervace</th>
            <th>hřiště</th>
            <th>vytvořeno</th>
            <th>stav</th>
            <th>zákazník</th>
            <th>detail</th>
        </thead>
        {% for res in reservations|reverse %}
        <tr class="{{ res.confirmedTime ? '' : 'lighter'}}">
            <td><a href="{{ path('reservationDetail', {'code': res.code}) }}"><b>{{ res.code }}</b></a></td>
            <td>{{ render(controller('AppBundle:ListReservation:getUniqueFields', { 'reservation': res })) }}</td>
            <td>{{ res.createdTime|localizeddate('long', 'none', 'cs') }} {{ res.createdTime|date('H:i') }}</td>
            <td>
                {% if res.confirmedTime %}
                    <i class="fa fa-check"></i> Potvrzeno
                {% elseif not res.confirmToken %}
                    <i class="fa fa-times"></i> Zrušeno
                {% else %}
                    <i class="fa fa-times"></i> Dosud nepotvrzeno
                {% endif %}
            </td>
            <td>
                {% if res.onlyName %}
                    {{ res.onlyName }}
                {% else %}
                    {{ res.user.fname }} {{ res.user.lname }}
                {% endif %}
            </td>
            <td><a href="{{ path('reservationDetail', {'code': res.code}) }}"><i class="fa fa-search"></i></a></td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
